<link rel="stylesheet" href="css/login.css">
<div class="container-fluid h-100" id="login-page">
    <div class="row h-100 justify-content-center align-content-center">
        <div class="col-md-10 login-container">
            <div class="row-cols-1">
                <div class="col">
                    <h1 class="text-center">Witaj nw bibliotece!</h1>
                    <ul class="list-group" id="booksList">

                    </ul>
                </div>
            </div>

            <div class="row-cols-4 form-row pt-3">
                <div class="col">
                    <div class="form-group">
                        <label for="input-title">Tytuł:</label>
                        <input type="text" class="form-control" id="input-title"
                               placeholder="Tytuł" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="input-author">Autor:</label>
                        <input type="text" class="form-control"
                               id="input-author" placeholder="Autor" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="input-year">Rok:</label>
                        <input type="number" class="form-control"
                               id="input-year" placeholder="Rok" required>
                    </div>
                </div>
                <button class="btn btn-success col" onclick="addBook()">Dodaj
                </button>
            </div>

            <div class="row-cols-1 p-3">
                <button class="btn btn-danger col" onclick="logout()">Wyloguj
                </button>
            </div>
        </div>
    </div>
</div>
<script src="js/dashboardAdmin.js"></script>