<link rel="stylesheet" href="css/login.css">
<div class="container-fluid h-100" id="login-page">
    <div class="row h-100 justify-content-center align-content-center">
        <div class="col-md-4 login-container">
            <div class="row-cols-1">
                <div class="col">
                    <h1 class="text-center">Witaj na stronie Biblioteki!</h1>
                    <h3 class="text-center">Zaloguj się!</h3>
                </div>
            </div>
            <form class="row-cols-1" id="login-form">
                <div class="form-group">
                    <label for="input-login">Login:</label>
                    <input type="text" class="form-control" id="input-login" placeholder="login">
                </div>
                <div class="form-group">
                    <label for="input-password">Hasło:</label>
                    <input type="password" class="form-control" id="input-password" placeholder="Hasło">
                    <div class="invalid-feedback">
                        Zła nazwa uzytkownika lub hasło!!
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn-success" value="Zaloguj">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/login-script.js"></script>