<link rel="stylesheet" href="css/login.css">
<div class="container-fluid h-100" id="login-page">
    <div class="row h-100 justify-content-center align-content-center">
        <div class="col-md-4 login-container">
            <div class="row-cols-1">
                <div class="col">
                    <h1 class="text-center">Witaj nw bibliotece!</h1>
                    <ul class="list-group" id="booksList">

                    </ul>
                </div>
            </div>

            <div class="row-cols-1 p-3">
                <button class="btn btn-danger col" onclick="logout()">Wyloguj
                </button>
            </div>
        </div>
    </div>
</div>
<script src="js/dashboardUser.js"></script>